* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 18px;
	line-height: 2em;
}


/*----------- Design for my landing Page -----------*/
#showcase {
	background-image: url('../images/cupcake.jpeg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}

#showcase h1 {
	font-size: 50px;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
	color: #000;
	margin-bottom: 20px;
}

#showcase p {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	color: #000;
}

#showcase .btn {
	font-size: 16px;
	text-decoration: none;
	color: #000;
	border: 1px solid #2ec4b6;
	padding: 10px 20px;
	margin-top: 50px;
	border-radius: 15px;
}

#showcase .btn:hover {
	color: #000;
	font-weight: normal;
	background-color: #F295B2;
}

/*---------- My navbar -------------*/
nav {
	background: #F295B2;
	height: 80px;	
	width: 100%;
	text-align: center;

}

nav .landing {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding: 8px;
	margin-left: 10px;
	float: left;
}
nav ul {
	display: inline-block;
	float: right;
	background-color: #F295B2;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a { 
	color: #000;
	text-decoration: none;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.active, a:hover {
	background-color: #ECD9DB;
	transition: .5s;
}

.check-btn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check  {
	display: none;
}

/*---------- Main Page ------------*/
#home-content::after {
	content: '';
	background-image: url(../images/strawberry.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	display: block;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	transition: all 1000ms;
}

#home-content:hover::after {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

#home-content:hover .content {
	-webkit-filter: blur(0px);
	filter: blur(0px);
}

.content {
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-top: 50px;
	margin-left: -145px;
	width: 250px;
	height: 350px;
	text-align: center;
	transition: all 1000ms;
}

.content .image {
	height: 250px;
	width: 250px;
	border-radius: 50%
}

.content .brand-name {
	color: #FCD5CE;
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	margin-top: 16px;
}

.content .brand-line {
	color: #FCD5CE;
	font-size: 30px;
	line-height: 1.6;
	margin-top: 16px;
}

/*--------- Social Media links ---------*/
#social-media .icons {
	position: absolute;
	top:  80%;
	left: 50%;
	transform: translate(-50%,50%);

}

#social-media .icons li {
	display: inline;
	list-style: none;
	margin: 10px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 100px;
}

#social-media li:hover {
	transition: all 1000ms;
	color: #03256c;
	cursor: pointer;
}

/*---------- About page ----------*/
#box-1 {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #12A1CB;
}


#about-us {
	background: url('../images/uno.jpg');
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: left;
	overflow: hidden;
	padding: 100px 0;
}

#inner-container {
	width: 55%;
	float: right;
	background-color: #FCD5CE;
	padding: 150px;
}

#inner-container h1 {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 900;
}

#text {
	font-size: 20px;
	color: #000;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 40px;
}

#choices {
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}

#choices span {
	text-align: center;
}

#choices img {
	display: inline-block;
	text-align: center;
	width: 100px;
	height: 100px;
	padding: 10px;
	border-radius: 50%;
}


/*---------- Contact Page ----------*/
.my-form {
	background: url(../images/img7.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px 0;
	height: 100vh;
}

.my-form h1 {
	text-align: center;
	color: #fff;
}

.border {
	width:100px;
	height: 10px;
	background: #fff;
	margin: 40px auto;
}

.contact-form {
	width: 600px;
	margin: auto;
	padding: 0;
	overflow: hidden;
} 

.contact-form-text {
	display: block;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #FCD5CE;
	padding: 20px 40px;
	outline: none;
	color: #000;
	transition: 0.5s;
}

.contact-form-text:hover {
	box-shadow: 0 0 10 4px #34495E;
}

textarea .contact-form-text {
	resize: none;
	height: 120px;
}

.contact-form-btn {
	float: right;
	border: 0;
	opacity: .5;
	color: #000;
	padding: 12px 50px;
	cursor: pointer;
	transition: 0.5s;
	text-transform: uppercase;
}

.contact-form-btn:hover {
	background: #FBD7E3;
	color: #000;
}

/*---------- Gallery Page ----------*/
.gallery-bg {
	background-color: #FCD5CE;
	width: 100%;
	height: 100vh;
}

.gallery-container {
	position: relative;
	width: 1200px;
	height: 100vh;
	margin: 0 auto;
	padding-top: 150px;
}

.gallery-container .img-box {
	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: #000;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
}

.gallery-container .img-box::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	transition: 0.5s;
	transform: scaleX(0);
	opacity: 0;
	z-index: 1;
}

.gallery-container .img-box:hover:before {
	transform: scale(1);
	opacity: 1;
}

.gallery-container .img-box::after {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	box-sizing: border-box;
	transition: 0.5s;
	transform: scaleY(0);
	opacity: 0;
	z-index: 1;
}

.gallery-container .img-box:hover:after {
	transform: scaleY(1);
	opacity: 1;
}

.gallery-container .img-box .images {
	position: relative;

}

.gallery-container .img-box .images img {
	width: 100%;
	height: 100%;
}

.gallery-container .img-box .images img {
	width: 100%;
	transition: 0.5s;
}

.gallery-container .img-box:hover .images img {
	opacity: .2;
	transform: scale(1.2);
}

.gallery-container .img-box .img-content {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.gallery-container .img-box h2 {
	margin: 0 0 10px;
	padding: 0;
	color: pink;
	transition: 0.5s; 
	transform: translateY(-50px);
	opacity: 0;
	visibility: hidden;
}

.gallery-container .img-box p {
	margin: 0;
	padding: 0;
	color: pink;
	transition: 0.5s; 
	transform: translateY(50px);
	opacity: 0;
	visibility: hidden;
}


.gallery-container .img-box:hover .img-content h2,
.gallery-container .img-box:hover .img-content p {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
	transition-delay: 0.2s;
}

/*---------- My footer ----------*/
footer {
	width: 100%;
	height: 80px;
	background-color: #F295B2;	
	padding: 20px;
}

footer p {
	color: #000;
	text-align: center;
}

/*---------- Responsiveness ----------*/

/*--------- Tablet ----------*/
@media screen and (max-width: 768px) {

/*-------- Landing Page ----------*/
	#showcase p {
		line-height: 1em; 
	}

	#showcase .btn:hover {
		font-weight: normal;
	}
/*---------- Navbar ----------*/
	nav {
		height: 100px;
	}
	nav .landing {
	 	margin: 10px;
	}

	nav ul li a {
		font-size: 16px;
	}

	.check-btn {
		display: block;
	}

	nav ul {
		position: absolute;
		z-index: 10;
		height: 100vh;
		margin: 0;
		margin-top: 20px;
		background-color: #12A1CB;
	}

	ul {
		position: fixed;
		width: 100%;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
	}

	a:hover, a.active {
		background: #0377a8;
		color: #000;
	}

	#check:checked ~ ul {
		left: 0;
	}

	.brand-name {
		font-size: 30px;
	}

	.brand-line {
		font-size: 22px;
		line-height: 1.6em;
		margin-top: 30%;
	}


	#social-media {
		position: absolute;
		top:  80%;
		left: 50%;
		transform: translate(-50%,50%);
	}

	#social-media .icons {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
	}

	#social-media .icons li {
		display: inline;
		list-style: none;
		margin: 10px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		font-size: 60px;
	}

	#about-us {
		background-size: cover;
    	background-position: center;
	}
	
	#inner-container {
		width: 100%;
		margin-bottom: 10px; 
	}


	#choices span { 
		display: block;
	}

	.gallery-bg {
		background-color: #FCD5CE;
		width: 100%;
	}


	.gallery-container {
		display: grid;
		grid-template-columns: 30% 30%;
		margin-left: 20px;
		padding: 0;
	}

	.gallery-container .img-box {
		width: 90%;
	}

	.my-form {
		width: 100%;
		text-align: center;
	}

	footer {
		background: #F295B2;
	}

	footer p {
		color: #000;
		font-size: 20px;
		font-weight: normal;
	}
}


/*Phone*/
@media screen and (max-width: 360px) {
	#showcase {
		background-image: url('../images/cupcake.jpeg');
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 100vh;
	}

	#showcase h1 {
		font-size: 40px;
	}

	#showcase p {
		font-size: 30px;
		line-height: 1.6em;
	}

/*----- Navbar -----*/
	nav {
		z-index: 2;
	}

	nav .landing {
		float: left;
		margin: 10px;
	}

	nav ul {
		position: absolute;
		z-index: 10;
		height: 100vh;
		margin: 0;
		margin-top: 20px;
	}

	nav ul li a {
		font-size: 16px;
	}

	.check-btn {
		display: block;
	}

	ul {
		position: fixed;
		width: 100%;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
	}

	a:hover a.active {
		background: #0377a8;
		color: #000;
	}

	#check:checked ~ ul {
		left: 0;
	}

/*----- Home Page -----*/
	#home-content {
		width: 100%;
		height: 100%;
	}
	
	.content {
		display: block;
		margin-left: -30%;
		margin:-top: 20px;
	}

	.content .image {
		width: 180px;
		height: 180px;
	}

	.brand-name .brand-line {
		margin-bottom: 20px;
		font-size: 20px;
	}

	#social-media {
		margin-top: 80px;
	}
/*----- About Page -----*/
	#about-us {
		padding: 0;

	}
	
	#inner-container {
		padding: 60px;

	}

	#inner-container, #choices {
		display: block;
		text-align: center;
	}

	#choices img {
		margin-right: 10px;
	}

/*---- Gallery Page --------*/
	.gallery-bg {
		height: 100vh;
	}
	.gallery .img-box {
		width: 90%;
	}
	.gallery-container {
		display: block;
		width: 100%;
		margin: 0;
	}
/*----- Contact Page -----*/
	.my-form {
		margin: 0 auto;
		padding: 10px;
	}

	.contact-form {
		width: 100%;
	}

/*----- Footer -----*/
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #F295B2;
	}

	footer p {
		color: #000;
		font-weight: normal;
	}
}
